.pricing-card .price .number::before {
    content: "за";
    margin-left: -1.9rem;
}

.pricing-card .price .number-not-free::before {
    content: "от";
}

.pricing-card .price .number:after {
    content: "руб./мес.";
}

.height-pages-top {
    background-image: none!important;
    height: 58px!important;
}

@media (max-width: 992px) {
    .height-pages-top {
        height: 50px!important;
    }
}

.h4-pages {
    margin-top: 1.5rem;
}

.p-pages {
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.p-pages img {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
}

.p-pages img.big {
    max-width: 1024px;
}

.a-article {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    display: block;
}

#footer a {
    margin-left: .4rem;
    margin-right: .4rem;
}

.min-height-520 {
  min-height: 520px;
}

table.table th {
    font-size: 120%;
    padding-top: 30px;
}

table.table td {
    font-size: 100%;
}