.pricing-card .price .number::before {
    content: "\20BD";
}

.pricing-card .price .number:after {
    content: "/мес.";
}

.height-pages-top {
    background-image: none!important;
    height: 58px!important;
}

@media (max-width: 992px) {
    .height-pages-top {
        height: 50px!important;
    }
}

.h4-pages {
    margin-top: 1.5rem;
}

.p-pages {
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.p-pages img {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
}

.p-pages img.big {
    max-width: 1024px;
}

.a-article {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    display: block;
}

#footer a {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}